* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: large;
    font-weight: normal;
}


.main-container {
    background: teal;
    width: 70%;
    justify-content: center;
    display: flex;
    margin: 10% 15%;
    height: 400px;
    align-items: center;
    padding: 10px 10px;
    position: relative;
    flex-direction: column;
}

.option-container {
    /* background: lightcoral; */
    margin: 0 10%;
    /* box-sizing: border-box;
    justify-items: center; */
    padding-top: 30px;
}

.question {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: white;

}

.btn {
    margin-top: 10px;
}

#evaluate {
    /* margin-top: 30px; */
    width: 100px;
}

#next {
    /* margin-top: 30px; */
    width: 100px;
}

#result {
    margin-top: 10px;
    width: auto;
}

@media (max-width:481px) {
    .main-container{
        width: 90%;
        margin: 10% 5%;
        height: 500px;
    }
    .option-container {
        display: flex;
        flex-direction: column;
    }

    #evaluate {
        /* margin-top: 30px; */
        width: 80px;
        background-color: antiquewhite;
    }

    #next {
        /* margin-top: 30px; */
        width: 80px;
        background-color: antiquewhite;
    }

    .btn{
        width: 200px;
        height: 30px;
    }
}
