* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}


.btn {
    width: 200px;
    height: 50px;
    border-radius: 0.5rem;
    box-shadow: 8px 10px black;
    margin: 10px;
    
}

.result {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 200px;
}

.question {
    box-sizing: border-box;
    font-size: xx-large;
    padding: 20px;
    border-radius: .75rem;
    margin: 0 0 20px 0;
    background-color: #44d044;
    word-wrap: normal;
}

body {
    box-sizing: border-box;
    margin-top: 10%;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: center;
}

.option-container {
    margin-bottom: 20px;
    box-sizing: border-box;
}

.button{
    width: 150px;
    margin-top: 20px;
}
